* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #ffcc33, #ff6699);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.addTarefa {
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
}


.addTarefa h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}


.addTarefa label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}


.addTarefa input[type="text"],
.addTarefa input[type="date"],
.addTarefa textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.addTarefa textarea {
    height: 100px;
    resize: vertical;
}


.addTarefa input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #ff6699;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.addTarefa input[type="submit"]:hover {
    background: #ff3366;
}


.voltar {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #0072ff;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.voltar:hover {
    background-color: #005bb5;
}